@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  
  /* Forza l'uso pulito del corsivo istituzionale bloccando il peso e prevenendo il rendering sintetico */
  em {
    font-family: 'Cormorant Garamond', Georgia, serif;
    font-style: italic;
    font-weight: 500;
    display: inline-block;
  }
}

@layer components {
  /* UX Menu Mobile: Evidenzia la pagina corrente */
  #mobileMenu a[aria-current="page"] {
    @apply text-navy font-semibold;
  }
}
